$bg-default: #F8F8F8;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

#header {
	.navbar {
		margin-bottom: 0;
	}
}

.jumbotron {
	text-align: center;
}

.page-header {
	margin-bottom: 30px;
}

#form-add-user {
	margin: 30px 0;
}

#listInserts {
	margin-top: 20px;
	li {
		&:hover {
			background: $bg-default;
		}
	}
	.del {
		float: right;
	}
}

#footer {
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
	background: $bg-default;
	padding: 30px 0;
	border-top: 1px solid #e7e7e7;
}